
/* headers */
:root {
  --primary: #F47806 !important;
}

.text-primary{
    color:#F47806 !important;
}
.border-primary{
    border-color:#F47806 !important;
}
.bg-primary,.badge-primary{
    background-color:#F47806 !important;
}
.btn-primary{
    background-color:#F47806 !important;
    border:none !important;
}
.btn-primary:focus,.btn-primary:hover {
    background-color:#b95f0b !important;
    border:none !important;
    outline: #b95f0b !important;
    box-shadow:none !important;
}
.rounded-x{
  border-radius: 10px;
}
.rounded-4{
  border-radius: 4px;
}
.rounded-5{
  border-radius: 5px;
}
.nav-link{
  width: 100px;
  color: black !important;
  border-bottom:2px solid transparent !important;

}
.nav-link:hover {
  border-bottom:1px solid #f0e5db !important ;
  border-radius: 2px;
}
 .nav-link:focus{
  border-bottom:2px solid #F47806 !important ;
  border-radius: 2px;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: whitesmoke;
  display: inline;
  box-shadow: 0 0 6px silver;
}
/* index headers section*/
#header-section{
  background-image:url(~assets/images/bg2.png)
}
.searchbox{
  width: 34%;
  outline: none !important;
}
.boldtext{
font-size:  70px ;
line-height:59px;
letter-spacing: 0.04em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: normal;
font-weight: normal
}
.searchbtn{
 position: absolute;
  padding:7px 40px !important;
  right:22px
}

.pcleft,.pcleft2{
  position: absolute !important;
  visibility: hidden !important;
width: 230px;
 left: 70px;
top: 257px;
z-index: -1 !important;
transform: rotate(31.67deg);
}
.pcleft2{
  z-index: 0 !important;
  top: 177px;

}
.headerbtn>button{
  width:40%;
}


/* getbest-team */
#getbest-team{
  background-image:url(~assets/images/bg1.png)

}

/* need something */
#needsomething{
  background: rgba(244, 120, 6, 0.08) !important;
}
.do{
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  color: #000000;
  }
label{
  position: absolute;
  margin-top:-10px;
  background: white;
  margin-left:10px;
}
.form-control:focus, .custom-select:hover{
   outline: rgba(244, 121, 6, 0.808) !important;
   box-shadow:0 0 10px rgba(244, 121, 6, 0.719) !important;
   border:1px solid #f47906c7 !important
}
/* Faq */
.panel-title>a{
  font-family: Arial, Verdana;
  /* font-weight: 600; */
  font-size: 16px !important;
  color: rgb(61, 59, 59) !important;
  text-decoration: none !important;
}
.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-size: 18px;
}
.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 1.4rem;
  content: "\f106";
  color: var(--primary);
  float: right;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1rem;
}
.panel-heading{
 background:white !important;
 box-shadow:0 0 10px rgb(226, 223, 223);
 border-radius:4px;
}
/* .shadow-x{
  box-shadow:0 0 10px rgb(202, 201, 201);

 } */
 ::selection {
  background: var(--primary) !important;
  color: white !important;
}

/* our-numbers */
#our-numbers{
background-image: url(~assets/images/our-numbers.png);
min-height: 100vh;
background-position: center;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
padding-top: 6%;

}

.padtop{
  padding-top: 10%;

}
.smartfont{
  font-size: 17px;
  line-height: 17px;
}
/* footer */
footer{
  background-image:url(~assets/images/bg2.png)
}
a{
  text-decoration: none !important;
}
li{
  list-style: none !important;
}
.footer{
  font-size: 13px;
  line-height: 26px;
}
.footer>li>a{
  color: #424141 !important;
}
.footer>li>a:hover,.footer>li>a:focus{
  color: var(--primary) !important;
  border-bottom:1px solid var(--primary)
}
.apps{
  width:150px;
  height: 43px;
}
.av{
  padding-left: 40px;
  font-size: 13px;
}
.link{
  cursor: pointer;
}
.Loadlinks>i{
  width: 23px;
  height: 23px;
  text-align: center;
  background:black !important;
  padding-top: 2px;
  border: 1px solid black;
  color: rgba(245, 245, 245, 0.932) !important;

}
/* auth */
.auth{
  background: rgba(252, 202, 143, 0.6);
  min-height: 100vh;
  /* z-index: 0 !important; */

}

.authpage{
  /* position: absolute; */
  /* width: 350px; */
  height: 90vh;
  /* top: 29px; */

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  margin:auto;
  z-index: 1 !important;
}
.signupage{
  min-height: 85vh !important;
}
.custom-select{
  height: calc(2.25rem + 8px);

}
/* input,::placeholder{
  font-size: 20px !important;
line-height: 30px !important;
color: rgba(0, 0, 0, 0.4) !important;
}
input{
  font-size: 20px !important;
line-height: 30px !important;
color: rgb(61, 60, 60) !important;
} */

.modal.show .modal-dialog {
  top: 100px;
  transition: transform .7s ease-out;

}


.kisspng{
  position: absolute;
width: 100%;
height: 333px;
/* left: -19px; */
margin-top: -32%;
background: url(~assets/images/kisspng.png);
/* z-index: 0 !important; */
background-repeat:no-repeat;
}


/* profile */
.shadow-x{
  box-shadow: 0 0 10px rgb(214, 211, 211);
}
.bg-accent{
  background: rgba(244, 120, 6, 0.08);
}
.text-accent{
  color: rgba(244, 120, 6, 0.08);
}
.bg-accent2{
  background: rgba(252, 202, 143, 0.6);
}
.text-accent2{
  color: rgba(252, 202, 143, 0.6);
}

.btn.focus, .btn:focus {
  outline: 0 !important;
   box-shadow: none !important
}














/* @media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width:768px) {
  .leftwing{
    padding:20px 2px !important;
  }
  .rightwing{
    padding:20px 2px !important;
  }
  .centerwing{
    padding:20px 2px !important;
  }

  .fa-search{
    top:10px !important;
  }
  .boldtext{
    font-size:  35px !important;
    line-height: 31px !important;
  }
  .headerbtn>button{
    width:60%;
    margin-top: 13px;
  }
  .do{

    font-size: 22px;
    line-height: 26px;
    }

    /* auth */
.authpage{
  /* position: absolute; */
  /* width: 350px; */
  height: 100vh;
  }

  .maincol{
    box-shadow: none;
    }
  .mainheader{
    border: none !important;
    }
    main{
      margin-top:70px !important;
    }
    .headrow{
      position: absolute;
      right:1% ;

    }
    .hcardT{
        font-size: 0.85rem;

    }
    .skillsbtn{
      background: rgba(241, 241, 241, 1);
      font-size:9px !important;
     }
     .auth{
        background:white;
     }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .authpage{
    /* position: absolute; */
    /* width: 350px; */
    height: 100vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .boldtext{
    font-size:  45px !important ;
    line-height: 41px !important ;
  }
  .do{

    font-size: 35px;
    line-height: 36px;
    }

.authpage{
  height: 80vh;
}




}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .leftwing{
    border-right:2px solid rgb(214, 211, 211) !important;
    padding:40px 2px  !important;
  }
  .rightwing{
    border-left:2px solid rgb(214, 211, 211) !important;
    padding:40px 2px  !important;
  }
  .centerwing{
    /* border-left:1px solid rgb(214, 211, 211); */
    padding:20px 2px !important ;
  }

  .pcleft,.pcleft2{
    visibility: visible !important;
  }
  .boldtext{
    font-size:  70px  !important;
    line-height:59px !important;
  }
  .do{
    font-size: 50px;
    line-height: 65px;
    }
    body{
      background:  #f5f3f3 !important;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
